.rooms {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.rooms a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 30px 40px;
    background: #e6f3ff;

    margin: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #222;
    text-decoration: none;

    min-width: 200px;
}